* {
    box-sizing: border-box;
}
.hero-title{
    background-color: orange;
    text-align: center;
    margin-top:0;
    padding:7px;
}
.card{
    display:flex;
    justify-content: space-around;
    padding:1em;
}

img{
    max-width:200px;
min-height:230px;
min-width:200px;
    
   
}
.horizontal--rule{
color:#918E9B;    
}
.grey
{
    color:#918E9B;
    font-size:10px;
}
.image{
   
     border-radius:19px; 
      
}

.location{
    text-transform: uppercase;
    font-size:12px;
}
.card--info{
    min-width:250px;
    max-width:300px;

}
.info--1{
 padding-top: 1em;
 }